[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.0.0"
python-dotenv = "1.0.0"
flask-sqlalchemy = "3.1.1"
psycopg2-binary = "2.9.9"
Flask-Migrate = "4.0.5"
marshmallow-sqlalchemy = "1.0.0"
Flask-RESTful = "0.3.10"
flask-swagger-ui = "4.11.1"
apispec = "6.4.0"

[dev-packages]

[requires]
python_version = "3.10"
